.pfeil_svg{
    background-color: #FFCA41;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 8vh;
    margin-left: 3%;
    &:hover{
        font-weight: 700;
        fill: #f7bd29;
        box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.94);
    }
}