.home_wrap {
    padding: 6%;

    .homeArticle_wrap{
        margin-bottom: 4vh;
        

        a{
            img {
                max-width: 100%;
            }
            h2{
                background-color: #FFCA41;
                color: white;
                padding: 4px 8px;
                margin-bottom: 1vh;
                font-size: 1.875rem;
                font-weight: 700;
            }
        }
        p {
            color: #333;
            font-size: 1.125rem;
            font-weight: 500;
        }
    }
}